@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

body {
    background: rgb(19, 19, 19);
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
}

a {
    text-decoration: none;
}

svg {
    height: 3rem;
    width: 3rem;
    color: #ffffff;
}

svg:hover {
    color: #aaaaaa;
}

button {
    background-color: #353535;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover {
    background-color: #454545;
}
