.quiz-title {
    text-align: center;
    background: #353535;
}

.quiz-question {
    background: #151515;
}

.quiz-choices {
    margin-left: 2rem;
}

.button-container {
    text-align: center;
    margin-top: 2rem;
}

.result-container {
    text-align: center;
}

.settings-container {
    display: flex;
    justify-content: flex-end;
}

.settings-button {
    margin-left: 0.5rem;
    padding: 0;
}

.settings-button svg {
    width: 2rem;
    height: 1.5rem;
}
